/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

.ray-animation {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #fff1b7; /* red color */
  animation: rayEffect 2.3s infinite;
  box-shadow: 0 0 10px #d3dc34, 0 0 20px #f6ffb1, 0 0 30px #f3f0f0;
}

@keyframes rayEffect {
  0% {
    width: 0;
    opacity: 0.5;
  }
  50% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
.animate-fade-out {
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 0.5;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
